<th><%= Dingtalk::App.human_attribute_name(:name) %></th>
<th>
  <p><%= Dingtalk::App.human_attribute_name(:corp_id) %></p>
  <p><%= Dingtalk::App.human_attribute_name(:agent_id) %></p>
</th>
<th>
  <p><%= Dingtalk::App.human_attribute_name(:app_key) %></p>
  <p><%= Dingtalk::App.human_attribute_name(:app_secret) %></p>
</th>
<th><%= Dingtalk::App.human_attribute_name(:tenant_id) %></th>
<th></th>
