<tr>
  <td class="has-text-right"><%= Dingtalk::App.human_attribute_name(:corp_id) %></td>
  <td><%= @app.corp_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Dingtalk::App.human_attribute_name(:agent_id) %></td>
  <td><%= @app.agent_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Dingtalk::App.human_attribute_name(:app_key) %></td>
  <td><%= @app.app_key %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Dingtalk::App.human_attribute_name(:app_secret) %></td>
  <td><%= @app.app_secret %></td>
</tr>
